
.slider-gif-content {


  height: 100%;
  background: black;
  overflow: hidden;


}

.img-logo {

  width: 70%;
  height: auto;
  top: 2%;
  left: 2%;
  background: rgba(0, 0, 0, 0.4);

}


.img-slider {

  width: 100%;
  height: auto;

}

.arrow-content {

  width: 100px;
  height: 40px;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.4);
  font-size: 40px;

}

.arrow-content-c1 {

  width: 50%;
  height: 100%;
  transition: .3s;

}

.arrow-content-c2 {

  left: 50%;
  width: 50%;
  height: 100%;
  transition: .3s;

}

.arrow-content-c1:hover {

  background: rgba(0, 0, 0, 0.8);

}


.arrow-content-c2:hover {

  background: rgba(0, 0, 0, 0.8);

}
