.sub-credit {

 text-align: center;
 width: 100%;
 float: left;
 background: #1d1d1d;
 font-size: 20px;

}

.link-credit {

  color: white;
  text-decoration: none;
  transition: .2s;
  opacity: 0.8;

}

.link-credit:hover {

  opacity: 1;

}
