



.gallery-link {

  color: white;
  text-decoration: none;
  transition: .2s;

}

.gallery-link:hover {

  color: red;

}


app {

  position: relative;
  display: block;
  height: auto;
  background: black;
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;

}

app:hover {

  color: red;

}

.title-app {

  font-weight: bold;

}

.img-embed {

  position: relative;
  filter: invert(100%);
  width: 35px;
  top: -30px;
  float: right;
  transition: .10s;
  opacity: 0.8;

}

.img-embed:hover {

  width: 38px;
  opacity: 1;

}
